@font-face {
    font-family: 'SAOUI';
    src: url('SAOUI-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

    font-family: 'SAOUI';
    src: url('SAOUI-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SAOWelcome';
    src: url('SAOWelcome-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

    font-family: 'SAOWelcome';
    src: url('SAOWelcome-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}