.gluten-normal {
	font-family: 'Gluten', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}
.dongle-regular {
	font-family: "Dongle", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  