<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=720px, initial-scale=1.0">
    <title>
        <%= botName %>
    </title>

    <link rel="stylesheet" href="/css/fonts/font.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <div class="container">

        <div class="outline">
            <div class="loader">
                <span class="bot-name">
                    <%= botName%>
                </span>
                <span class="status">running...</span>
            </div>
        </div>
    </div>

</body>

</html>