* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 25, 50);
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bot-name {
    color: #cd88fb;
    margin-right: 36px;

    font-family: 'SAOWelcome';
    font-size: 64px;

    text-shadow:
        -1px -2px 0 rgb(0, 60, 140),
        1px -2px 0 rgb(0, 60, 140),
        -1px 2px 0 rgb(0, 60, 140),
        1px 2px 0 rgb(0, 60, 140);
}

.status {
    color: lime;
    font-family: 'SAOUI';
    font-size: 64px;

    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    animation: blink 1s infinite;
}

@keyframes blink {

    50% {
        color: darkgreen;
    }
}

/* create rotate outline*/
.outline {
    position: relative;

    height: fit-content;
    width: fit-content;

    background-color: rgb(0, 25, 50);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    z-index: -1;
}

.outline::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;

    height: 200%;
    width: 100%;

    border-radius: 20px;
    padding: 10px;
    transform-origin: bottom right;

    background: linear-gradient(45deg, transparent, transparent, rgba(45, 255, 246, 1));
    animation: outline 2s ease-in-out infinite;
    z-index: -1;
}

@keyframes outline {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {

    height: fit-content;
    width: fit-content;
    background-color: rgb(0, 15, 35);

    padding: 20px;
    border-radius: 20px;
}